<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h1 class="h1">EJS</h1>
    <h3 class="h3">変数</h3>
    <div><%= title %></div>

    <h3 class="h3">変数(HTML)</h3>
    <%- tag %>

    <h3 class="h3">for()</h3>
    <ul>
      <% for (let i = 0; i < 5; i++) { %>
      <li><%= i %></li>
      <% } %>
    </ul>

    <h3 class="h3">while()</h3>
    <ul>
      <% let counter = 1; %>
      <% while (counter <= 5) { %>
      <li><%= counter %></li>
      <% counter++; %>
      <% } %>
    </ul>


    <h3 class="h3">if()</h3>
    <div>
      <%= number %> :
      <% if (number < 50) { %>
      Cランク
      <% } else if (number < 80) { %>
      Bランク
      <% } else { %>
      Aランク
      <% } %>
    </div>

    <h3 class="h3">include()</h3>
    <%- include('./components/message.ejs', { message : message }) %>
  </div>

</body>

</html>