<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h3 class="h3">変数</h3>
    <% let title = 'Index Page' %>
    <h1 class="h1"><%= title %></h1>

    <h3 class="h3">変数(HTML)</h3>
    <% let tag = '<p>this is index page!!!!</p>' %>
    <%- tag %>

    <h3 class="h3">for()</h3>
    <ul>
    <% for (let i = 0; i < 5; i++) { %>
      <li><%= i + 1 %>回目</li>
    <% } %>
    </ul>

    <h3 class="h3">while()</h3>
    <ul>
    <% let counter = 1; %>
    <% while (counter <= 5) { %>
    <li><%= counter %>回目</li>
    <% counter++; %>
    <% } %>
    </ul>

    <h3 class="h3">forEach()</h3>
    <% 
    let items = [
    { name: 'Apple' },
    { name: 'Orange' }, 
    { name: 'Peach' }, 
    { name: 'Strawberry' }, 
    { name: 'Grape' }, 
    ]
    %>

    <ul>
    <% items.forEach((item, index) => { %>
      <li><%= item.name %></li> 
    <% }) %>
    </ul>

    <h3 class="h3">for(in)</h3>
    <ul>
    <% for (index in items) { %>
      <li><%= items[index].name %></li> 
    <% } %>
    </ul>

    <h3 class="h3">if()</h3>
    <p>
    <% let number = Math.floor(Math.random(100) * 100) %>
    <%= number %> is 
    <% if (number < 25) { %>
      under 25
    <% } else if (number < 50) { %>
      under 50
    <% } else { %>
      under 100
    <% } %>
    </p>

    <h3 class="h3">include()</h3>
    <%- include('./components/message.ejs', { message : 'This is message component.'}) %>
  </div>

</body>

</html>